spring.application.name=auth-service
application.security.jwt.secret-key=
application.security.jwt.expiration=
spring.datasource.url=jdbc:mysql://localhost:3306/auth_service
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect